appName: "alper-mobile-prod-backend"
namespace: "alper-prod"
deploy:
  imageName: "europe-west4-docker.pkg.dev/kuikacloudservers/docker-repository/kuika/mobile-alper-alper-prod.kuika.com-backend"
  tag: "1"
labels:
  customer: "alper"
  env: "prod"
replicaCount: 1
nodeSelector:
  nodepool: alper
tolerations:
  enabled: false
  values:
  - key: "kubernetes.io/arch"
    operator: "Equal"
    value: "amd64"
    effect: "NoSchedule"
service:
  enabled: true
  type: ClusterIP
  port: 80
  targetPort: 8080
env:
- name: DOTNET_TieredPGO
  value: "1"
- name: DOTNET_ReadyToRun
  value: "1"
- name: DOTNET_GCHeapHardLimitPercent
  value: "70"
- name: ASPNETCORE_URLS
  value: "http://0.0.0.0:8080"
envFromSecret: true
externalSecret:
  enabled: true
  refreshInterval: 1h0m0s
  target:
    creationPolicy: Owner
  secretStoreRef:
    name: gcp-store
    kind: ClusterSecretStore
  key: alper-mobile-backend-secret-prod
pvc:
  enabled: false
  storageClassName: "standard-rwo"
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  mountPath: /home/fileserver
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  memoryUtilization: 80
  cpuUtilization: 120
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 120
      policies:
      - type: Percent
        value: 100
        periodSeconds: 60

httpRoute:
  enabled: true
  gateway:
    name: alper-prod-gateway
    namespace: alper-prod
  hostnames:
  - "asdf"
  path:
    enabled: false
    value: "//"
resources:
  requests:
    cpu: "200m"
    memory: "500Mi"
  limits:
    cpu: "300m"
    memory: "500Mi"
livenessProbe:
  enabled: true
  path: "/"
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 10
  failureThreshold: 3
readinessProbe:
  enabled: true
  path: "/"
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 10
  failureThreshold: 3
startupProbe:
  enabled: true
  type: tcp
  port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 10
  failureThreshold: 120
